{% extends "base.html" %}
{% block title %} Sign up {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for color, message in messages %}
            <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close focus-ring focus-ring-{{ color }}" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form class="mt-5 mx-auto p-4 shadow-lg rounded-2" style="width: 22rem;" method="POST">
    <div class="d-flex flex-column gap-3">
        <h2 class="fw-bold">Sign up</h2>
        <div class="d-flex flex-column gap-2">
            <input type="text" name="full_name" placeholder="Full name" id="full_name" class="form-control border border-teritory focus-ring focus-ring-secondary">
            <input type="email" name="email" placeholder="Email" id="email" class="form-control border border-teritory focus-ring focus-ring-secondary">
            <input type="password" name="password" placeholder="Password" id="password" class="form-control border border-teritory focus-ring focus-ring-secondary">
            <input type="password" name="confirm_password" placeholder="Confirm password" id="confirm_password" class="form-control border border-teritory focus-ring focus-ring-secondary">
        </div>
        <button type="submit" class="btn btn-dark fw-semibold">Sign up</button>
    </div>
</form>

{% endblock %}