{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}

<div class="text-center" style="margin-top: 5rem; font-size: 1.2rem">
    <h4 class="fw-bold h1 mb-3">About</h4>
    <div style="width: 30rem;" class="mx-auto">
        <p>
            This is a basic login system made with Flask. <br>
            SQLALchemy is the database solution used for this application.
        </p>
        <p>
            You can copy and paste the code snippets of this application in your flask application
            or use this as an example project if you are a beginner.
        </p>
        <p class="fw-bold">Made with ❤️ by Methupa Perera</p>
    </div>
</div>

{% endblock %}
